**/node_modules
**/npm-debug.log
**/.git
**/.gitignore
**/.DS_Store
**/coverage
**/dist
**/build
client
docs
server/reports.json
server/reports.sqlite
server/reports.sqlite-shm
server/reports.sqlite-wal
*.md
.env*
